* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
	font-size: 15px;
}
.container {
	max-width: 1440px;
}
img {
	width: 90%;
	margin: auto;
}
div {
	margin: auto;
	background-color: hsl(0, 0%, 100%);
	width: 400px;
}
